.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #bcbcbc;
}


.home-wrap { padding: 16px; }
.item-row { display: flex; align-items: center; justify-content: space-between; padding: 12px 0; border-bottom: 1px solid rgba(0,0,0,.06); }
.item-title { color: #00000073; margin: 0 0 6px 0; font-weight: 600; font-size: 16px; }


.btn-edit { background: #1279AF; color: #FFFFFF; border: none; padding: 8px 12px; border-radius: 10px; cursor: pointer; }
.btn-edit:hover { opacity: .9; }


.overlay { position: fixed; inset: 0; background: rgba(0,0,0,.35); display: grid; place-items: center; z-index: 1000; }
.modal-card { width: 100%; max-width: 420px; background: #fff; border-radius: 16px; padding: 20px; box-shadow: 0 10px 30px rgba(0,0,0,.15); }
.modal-title { margin: 0 0 10px 0; font-size: 18px; } /* color dinámico en template */
.modal-input { width: 100%; height: 40px; border-radius: 10px; border: 1px solid transparent; outline: none; padding: 0 12px; background: #F0F1F5; margin-bottom: 12px; }


.btn-submit { width: 100%; height: 35px; border-radius: 12px; background: #1279AF; color: #FFFFFF; border: none; cursor: pointer; margin-bottom: 8px; }
.btn-submit:disabled { opacity: .5; cursor: not-allowed; }


.btn-cancel { width: 100%; height: 35px; border-radius: 12px; background: #1279AF; color: #FFFFFF; border: none; cursor: pointer; }

.popup-overlay { position: fixed; inset: 0; background: rgba(0,0,0,.25); display: grid; place-items: center; z-index: 1100; }
.popup-card { width: 260px; height: 150px; background: #fff; border-radius: 14px; padding: 14px; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 8px; text-align: center; box-shadow: 0 10px 30px rgba(0,0,0,.15); }
.popup-icon { font-size: 22px; color: #7AB7FF; line-height: 1; }
.popup-text { font-size: 18px; }
.popup-actions { display: flex; gap: 12px; }
.popup-yes, .popup-no { background: transparent; border: none; font-size: 16px; cursor: pointer; }
.popup-yes { color: #7AB7FF; }  
.popup-no { color: #EB5757; }   
